#admin-login {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-width: 9.5%;
  form {
    display: flex;
    flex-direction: column;
  }
  input,
  button {
    opacity: 0;
    background-color: darkslategray;
    color: ivory;
    text-align: center;
  }

  &:hover {
    input,
    button {
      opacity: 0.25;
    }
  }
}
