#root {
  // scroll-padding-bottom: 300px;
  // scroll-snap-type: y mandatory;
}

#resume-root, #portfolio-root {
  // Switching to height over min height to accomodate the carousel ?
  min-height: 90vh;
  // height: 90vh;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  .about-me-root {
    height: 90vh;
    &--Small {
      height: unset;
      min-height: 180vh;
    }
  }
}

.homeContainer--Mobile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  .about-me-root {
    min-height: 90vh;
    display: flex;
    align-items: center;
    &--Small {
        min-height: 90vh;
    }
  }

  #portfolio-root {
    padding-bottom: 0;
  }
}

.container {
  // scroll-snap-align: center none;

  width: 100%;
  margin: 0 auto;
  p,
  h3,
  h4,
  h5,
  h6 {
    margin: 1%;
    color: ivory;
  }

  h4 {
    font-size: 40px;
    font-weight: 150;
    margin: 0;
    letter-spacing: 0.5px;
  }

  h5 {
    font-size: 26px;
    margin: 0.75%;
  }

  h6 {
    margin: 0.5% 1%;
  }
}

#portfolio-root {
  margin-bottom: 0;
  padding-bottom: 5%;
}

.about-me-root {
  padding-bottom: 5%;
}

.floatingButtonContainer {
  margin: 5% auto 0 auto;
  opacity: 0.5;
  display: flex;
  button {
    flex: 1;
    padding: 0.75%;
    background-color: transparent;
    color: ivory;

    outline: none;
    border: none;
    &:first-child {
      border-left: none;
      border-right: 1px solid rgb(255, 255, 240);
    }
    &:last-child {
      border-right: none;
      border-left: 1px solid rgb(255, 255, 240);
    }
    &:hover {
      background-color: rgb(255, 255, 240);
      color: darkslategray;
    }
  }
}

.marqueeButtonsHR {
  margin-top: 0;
}

.lastMarqueeButtonContainer {
  margin-top: 0;
}

#floating-fader {
  animation: fadeIn 3s ease forwards !important;
  // animation-fill-mode: forwards !important;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

* {
  cursor: none !important;
}

// //cadet blue, cornflowerblue, darkcyan
// // darkgolden darkslategray midnightblue mediumblue
