.marqueeContainer {
  padding-bottom: 1%;
  display: flex;
  .aboutMeMarqueeDetails {
    // flex: 0.7;
    .aboutMeMarqueeTitle {
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .aboutMeMarqueeTitle {
      display: flex;
      justify-content: center;
      padding: 6% 0;
    }
    .marqueeContents {
      display: flex;
      .marqueeParagraphs {
        display: flex;
        flex-direction: column;
        flex: 0.9;
        .aboutMeMarqueeDescription {
          text-rendering: geometricPrecision;
          width: 97.5%;
          line-height: 1.95;
          font-size: 1.19em;
          font-weight: 200;
          letter-spacing: 0.25px;
        }
      }
    }
    .smileContainer {
      min-height: 30rem;
      max-width: 50%;
      min-width: 27.5%;
      background-size: cover;

      border: 1px solid ivory;
      background-position-y: 25%;
      background-position-x: 75%;
      background-repeat: no-repeat;
      border-radius: 50%;
      background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/main/main-images/linkedin.jpg);

      // Specifying Media Queries for Desktop Sizes most  people will see, the above conditions of max and min width are for a bigger screen above 1750px
      @media (min-width: 1600px) and (max-width: 1750px) {
        flex: 0.4;
      }

      @media (min-width: 1300px) and (max-width: 1600px) {
        flex: 0.5;
      }

      @media (min-width: 1150px) and (max-width: 1300px) {
        flex: 0.6;
      }
    }
  }

  // Mobile View is a column rather than rows...
  &--Mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    text-align: center;
    .aboutMeMarqueeDetails {
      .aboutMeMarqueeTitle {
        font-size: 4.5em;
      }
      .marqueeContents {
        display: flex;
        flex-direction: column;
        .marqueeParagraphs {
          text-align: center;
          .aboutMeMarqueeDescription {
            font-size: 1.9em !important;
          }
          .smileContainer {
            margin: 2.5% auto;
            min-height: 25rem;
            width: 50%;
            padding: 0;
          }
        }
      }
    }
  }
}

.portfolioRoot {
  margin-bottom: 0;
}

.marqueeButtonContainer {
  margin: 5% auto 0 auto;
  display: flex;
  button {
    flex: 1;
    padding: 0.75%;
    background-color: transparent;
    color: ivory;

    outline: none;
    border: none;
    &:first-child {
      border-left: none;
      border-right: 1px solid rgb(255, 255, 240);
    }
    &:last-child {
      border-right: none;
      border-left: 1px solid rgb(255, 255, 240);
    }
    &:hover {
      background-color: rgb(255, 255, 240);
      color: darkslategray;
    }
  }
}

.marqueeButtonsHR {
  margin-top: 0;
}

.lastMarqueeButtonContainer {
  margin-top: 0;
}

.portfolioContainer {
  text-rendering: geometricPrecision;;
  display: flex;
  flex-direction: column;
  .portfolioTitle {
    align-self: center;
  }

  .portfolioApplicationContainer {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0 0 0;
    .portfolioApplicationRow {
      display: flex;

      .portfolioApplication {
        background-color: midnightblue;
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 1px solid darkgoldenrod;
        margin: 1.75%;
        &:hover {
          background-color: darkgoldenrod;
        }

        p {
          align-self: center;
        }

        .applicationImgContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: 1;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 300px;

          &:hover {
            background-color: inherit;

            .nestedGithubLinks {
              opacity: 0.5;
          //     z-index: 0;
            }
          }

          .nestedGithubRow {
            display: flex;
            width: 100%;
            height: 100%;

            .nestedGithubLinks {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 100%;
              height: 100%;
              &:hover {
                opacity: 0.8;
                // opacity: 0.5;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.fader {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards !important;
  // animation: fadeIn 3s linear 0.5s 1 normal forwards;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}


//cadet blue, cornflowerblue, darkcyan
// darkgolden darkslategray midnightblue mediumblue