.contact-root {
  width: 75%;
  height: 90vh;
  margin: 0 auto;
  .contact-wrapper {
    box-sizing: border-box !important;
    display: flex;
    width: 100%;
    .contact-column {
      flex: 1;
    }
    .contact-column-l {
      background-color: transparent;
      ul {
        // margin-top: 2.5rem;
        .contact-description-li {
          margin-top: 1em;
          padding-right: 1rem;
          line-height: 2.25rem;
          transform: translate(-1rem, 0em);
          transition: all 0.4s ease-in-out;
          .contact-column-header-l {
            font-size: 2vw;
          }
          .contact-column-descriptor-l {
            font-size: 1.25vw;
          }
          .contact-column-header-l,
          .contact-column-descriptor-l {
            text-rendering: geometricPrecision;
            text-align: right;
            font-weight: 150;
            color: ivory;
            padding: 0.25em 0;
          }
        }
      }
    }
    .contact-column-r {
      display: flex;
      height: 90vh;
      z-index: 1;
      background-color: transparent;
      .contact-column-form-r {
        width: 100%;
        border-left: 1px solid ivory;
        .contact-column-form-container-r {
          height: 100%;
          .contact-column-form-ul-r {
            height: 100%;
            display: flex;
            flex-direction: column;
            .contact-li-r {
              padding-right: 0.25em;
              padding-top: 0;
              text-indent: 0.75em;
              .contact-label-r {
                color: #b7b7b7;
                display: block;
                font-size: 1.25vw;
                font-weight: 200;
                text-rendering: geometricPrecision;
                transform: translate(0.5em, 2em);
                transition: all 0.4s ease-in-out;
              }
              .contact-child-container-r {
                // margin-top: 8px;
                .contact-input-r {
                  background-color: transparent;
                  outline: none;
                  border: none;
                  border-bottom: 4px solid rgba(183, 183, 183, 0.3);
                  width: 90%;
                  color: #b7b7b7;
                  padding: 2em 1em;
                  height: 0;
                  font-size: 1.25vw;
                }

                .contact-input-r-textarea {
                  resize: none;
                  min-height: 12rem;
                  max-height: 12rem;
                  font-size: 1.1vw;
                }
              }
            }

            .contact-li-submit {
              display: flex;
              height: 100%;
              align-items: center;

              .contact-submit-r {
                color: #b7b7b7;
                border: none;
                height: 2.5em;
                width: 35%;
                border-bottom: 1.5px solid rgba(183, 183, 183, 0.3);
                border-bottom-left-radius: 15%;
                border-bottom-right-radius: 15%;
                background-color: transparent;

                &:hover {
                  background-color: ivory;
                  opacity: 0.75;
                  color: darkslategray;
                  border-bottom: 3px inset #b7b7b7;
                  border-radius: 0;
                }
              }
              justify-content: center;
            }

            .contact-li-r-is-active {
              margin-top: 0.75em;
              .contact-label-r {
                transform: translate(0);
                font-size: 1.05vw !important;
              }

              .contact-child-container-r {
                .contact-input-r {
                  border-color: #b7b7b7;
                }
              }
            }
          }
        }
      }
    }
  }

  /*
  Mobile Styles----------------->
  */
  &--Mobile {
    width: 90%;
    .contact-wrapper {
      overflow-y: scroll;
    }

    @media screen and (orientation: landscape) {
      .contact-column-form-r {
        height: 90vh;
        .contact-input-r {
          font-size: 1.25vw;
        }
        .contact-input-r-textarea {
          padding: 0 !important;
          background-color: red;
          min-height: 40.5vmin !important;
          max-height: 40.5vmin !important;
        }

      }
    }
    @media screen and (orientation: portrait) {
      .contact-wrapper {
        height: 100%;
        flex-direction: column;
        .contact-column-l {
          flex: 0.3;
          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 10px solid rgba(183, 183, 183, 0.3);
            padding-bottom: 2.5vh;

            .contact-description-li {
              margin-top: 2.5vh;
              padding-right: 0;
              line-height: initial;
              transform: unset;
              transition: unset;
              // Font-sizes
              .contact-column-header-l {
                font-size: 2.25vh;
                text-align: center;
              }
              .contact-column-descriptor-l {
                font-size: 1.75vh;
                text-align: center;
              }
            }
          }
        }
        .contact-column-r {
          flex: 1;
          .contact-column-form-r {
            .contact-column-form-container-r {
              height: 90vh;
              .contact-column-form-ul-r {
                height: 100%;
                display: flex;
                flex-direction: column;
                border-left: none;
                .contact-li-r {
                  display: flex;
                  flex-direction: column;
                  flex: 1;
                  .contact-label-r {
                    display: flex;
                    justify-content: center;
                    font-size: 1.75vh;
                    transform: translate(0, 2em);
                    // Prevents the label from getting in the way of the click
                    z-index: -1;
                  }
                  .contact-child-container-r {
                    display: flex;
                    justify-content: center;
                    .contact-input-r {
                      font-size: 2vh !important;
                      letter-spacing: 0.025em;
                      width: 65%;
                      text-align: center;
                    }
                  }
                  &:nth-last-child(2) {
                    .contact-label-r {
                      justify-content: flex-start;
                    }
                    .contact-child-container-r {
                      .contact-input-r-textarea {
                        font-size: 1vh !important;
                        width: 90%;
                        border-bottom: 10px solid rgba(183, 183, 183, 0.3);
                        text-align: left;
                        min-height: 33vh !important;
                        max-height: 33vh !important;
                      }
                    }
                  }
                }

                .contact-li-r-is-active {
                  .contact-label-r {
                    font-size: 1.5vh !important;
                    transform: translate(0, 0.5em);
                  }
                  .contact-child-container-r {
                    .contact-input-r {
                    }
                    .contact-input-r-textarea {
                    }
                  }
                }

                .contact-li-submit {
                  .contact-submit-r {
                    font-size: 1.5vh;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
