.contact-root {
  width: 75%;
  height: 90vh;
  margin: 0 auto;
  &--Mobile {
    width: 90%;
    .contact-column-form-r {
      .contact-column-form-container-r {
        height: 100%;
        .contact-column-form-ul-r {
          height: 100%;
          display: flex;
          flex-direction: column;
          .contact-li-r {
            flex: 1;
          }
        }
      }
    }
  }
  .contact-wrapper {
    box-sizing: border-box !important;
    display: flex;
    width: 100%;
    .contact-column {
      flex: 1;
    }
    .contact-column-l {
      background-color: transparent;
      ul {
        margin-top: 2.5rem;
        .contact-description-li {
          margin-top: 16px;
          padding-right: 1rem;
          line-height: 2.25rem;

          transform: translate(-1rem, 0em);
          transition: all 0.4s ease-in-out;
          .contact-column-header-l {
            font-size: 2em;
          }
          .contact-column-descriptor-l {
            font-size: 1.25em;
          }
          .contact-column-header-l,
          .contact-column-descriptor-l {
            text-rendering: geometricPrecision;
            text-align: right;
            color: ivory;
          }
        }
      }
    }
    .contact-column-r {
      display: flex;
      height: 90vh;
      z-index: 1;
      background-color: transparent;
      .contact-column-form-r {
        width: 100%;
        div {
          ul {
            border-left: 1px solid ivory;
            .contact-li-r {
              margin-top: .25em;
              padding-right: .25em;
              padding-top: 0;
              clear: both;
              text-indent: 1rem;
              .contact-label-r {
                color: #b7b7b7;
                display: block;
                line-height: 1.5;
                clear: both;
                transform: translate(1em, 2em);
                transition: all 0.4s ease-in-out;
              }
              .contact-child-container-r {
                margin-top: 8px;
                .contact-input-r {
                  background-color: transparent;
                  outline: none;
                  border: none;
                  border-bottom: 4px solid rgba(183, 183, 183, 0.3);
                  width: 90%;
                  color: #b7b7b7;
                  padding: 5px 4px;
                  height: 2rem;
                }

                .contact-input-r-textarea {
                  resize: none;
                  min-height: 11rem;
                  max-height: 11rem;
                }
              }
            }

            .contact-li-submit {
              display: flex;
              margin-top: .75rem;
              .contact-submit-r {
                color: #b7b7b7;
                border: none;
                padding: .3rem .2rem;
                width: 50%;
                border-bottom: 1.5px solid rgba(183, 183, 183, 0.3);
                background-color: transparent;

                &:hover {
                  background-color: ivory;
                  color: darkslategray;
                  border-bottom: 3.5px solid #b7b7b7;
                }
              }
              justify-content: center;
            }

            .contact-li-r-is-active {
              .contact-label-r {
                transform: translate(0);
                font-size: 1.2rem !important;
              }

              .contact-child-container-r {
                .contact-input-r {
                  border-color: #b7b7b7;
                }
              }
            }
          }
        }
      }
    }
  }
}
