.marqueeContainer {
  display: flex;
  height: 90%;
  align-items: center;
  .aboutMeMarqueeDetails {
    height: 100%;
    .aboutMeMarqueeTitle {
      display: flex;
      justify-content: center;
      font-size: 2.5vw;
      height: 25%;
      align-items: center;
    }
    .marqueeContentContainer {
    .marqueeContents {
      display: flex;
      .marqueeParagraphs {
        display: flex;
        flex-direction: column;
        flex: 0.9;
        .aboutMeMarqueeDescription {
          text-rendering: geometricPrecision;
          width: 97.5%;
          line-height: 1.95;
          font-size: 1.25vw;
          font-weight: 200;
          letter-spacing: 0.25px;
        }
      }
    }
  }

    .smileContainer {
      // min-height: 30rem;
      max-width: 50%;
      min-width: 27.5%;
      background-size: cover;

      border: 1px solid ivory;
      background-position-y: 25%;
      background-position-x: 75%;
      background-repeat: no-repeat;
      border-radius: 50%;
      // background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/main/main-images/linkedin.jpg);

      // Specifying Media Queries for Desktop Sizes most  people will see, the above conditions of max and min width are for a bigger screen above 1750px
      @media (min-width: 1600px) and (max-width: 1750px) {
        flex: 0.4;
      }

      @media (min-width: 1300px) and (max-width: 1600px) {
        flex: 0.5;
      }

      @media (min-width: 1150px) and (max-width: 1300px) {
        flex: 0.6;
      }
    }
  }

  // Mobile View is a column rather than rows...
  &--Mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    text-align: center;
    .aboutMeMarqueeDetails {
      .aboutMeMarqueeTitle {
        font-size: 4.5em;
      }
      .marqueeContents {
        display: flex;
        flex-direction: column;
        .marqueeParagraphs {
          text-align: center;
          .aboutMeMarqueeDescription {
            font-size: 1.9em !important;
          }
          .smileContainer {
            margin: 2.5% auto;
            min-height: 25rem;
            width: 50%;
            padding: 0;
          }
        }
      }
    }
  }
}