.marquee-container {
  display: flex;
  @media screen and (orientation: portrait) {
    height: 90%;
    .smile-container {
      min-height: 30rem !important;
      border-radius: unset !important;
    }
  }

  @media screen and (orientation: landscape) {
    height: 90vh;
  }
  align-items: center;
  .about-me-marquee-details {
    height: 100%;
    .about-me-marquee-title {
      display: flex;
      justify-content: center;
      font-size: 2.5vw;
      height: 25%;
      align-items: center;
    }
    .marquee-content-container {
    .marquee-contents {
      display: flex;
      .marquee-paragraphs {
        display: flex;
        flex-direction: column;
        flex: 0.9;
        .about-me-marquee-description {
          text-rendering: geometricPrecision;
          width: 97.5%;
          line-height: 1.95;
          font-size: 1.25vw;
          font-weight: 200;
          letter-spacing: 0.25px;
        }
      }
    }
  }

    .smile-container {
      // min-height: 30rem;
      max-width: 50%;
      min-width: 27.5%;
      background-size: cover;

      border: 1px solid ivory;
      background-position-y: 25%;
      background-position-x: 75%;
      background-repeat: no-repeat;
      border-radius: 50%;
      // background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/main/main-images/linkedin.jpg);

      // Specifying Media Queries for Desktop Sizes most  people will see, the above conditions of max and min width are for a bigger screen above 1750px
      @media (min-width: 1600px) and (max-width: 1750px) {
        flex: 0.4;
      }

      @media (min-width: 1300px) and (max-width: 1600px) {
        flex: 0.5;
      }

      @media (min-width: 1150px) and (max-width: 1300px) {
        flex: 0.6;
      }
    }
  }

  // Mobile View is a column rather than rows...
  &--Portrait {
    @media screen and (orientation: portrait) {
      height: 100%;
    }

    @media screen and (orientation: landscape) {
      min-height: 90vh;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    .about-me-marquee-details {
      .about-me-marquee-title {
        @media screen and (orientation: portrait) {
          padding-bottom: 8%;
          font-size: 4.5vh;
        }

        @media screen and (orientation: landscape) {
          // height: 4;
          font-size: 4.5vw;
        }
      }
      .marquee-contents {
        display: flex;
        flex-direction: column;
        .marquee-paragraphs {
          text-align: center;
          .about-me-marquee-description {
            font-size: 1.9em !important;
          }
          .smile-container {
            margin: 2.5% auto;
            min-height: 25rem;
            width: 50%;
            padding: 0;
          }
        }
      }
    }
  }
}