.marqueeContainer {
  padding-bottom: 1%;
  display: flex;

  .aboutMeMarqueeDetails {
    flex: 0.7;
    .aboutMeMarqueeTitle,
    .aboutMeMarqueeDescription {
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .aboutMeMarqueeTitle {
      padding: 2.5%;
    }
    .aboutMeMarqueeDescription {
      // background-color: darkblue;
      padding: 5%;
      line-height: 1.75;
    }
  }

  .smileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    border-radius: 50%;
    background-image: url(https://personal-website-1.s3.us-east-2.amazonaws.com/linkedin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

.marqueeButtonContainer {
  margin: 2.5% auto;
  border: 1px solid ivory;
  display: flex;
  button {
    flex: 1;
    background-color: transparent;
    color: ivory;
    &:hover {
      background-color: ivory;
      color: darkslategray;
    }
  }
}

.portfolioContainer {
  margin: 2.5% auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  .portfolioTitle {
    margin: 1.5% auto;
  }

  .portfolioApplicationContainer {
    display: flex;
    flex-direction: column;
    .portfolioApplicationRow {
      display: flex;

      .portfolioApplication {
        background-color: lightslategrey;
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 1px solid darkblue;
        &:hover {
          background-color: darkblue;
        }

        p {
          align-self: center;
        }

        .applicationImgContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 300px;

          &:hover {
            .nestedGithubLinks {
              background-color: white;
              opacity: 0.5;
              z-index: 0;
            }
          }
            .nestedGithubLinks {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 100%;
              height: 100%;
              &:hover {
                opacity: .8;
                cursor: pointer;
              }
            }
        }
      }
    }
  }
}


