#cursor {
  pointer-events: none !important;
  z-index: 1;
  background-image: url(https://static.fullstackhrivnak.com/main/main-images/cursor.png);
  height: 20px;
  width: 15px;
  /* doing this makes sure .elementFromPoint
  do not accquires theimage cursor ob ject */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}