html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif !important;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1f2124;

  @media (min-width: 1250px) {
    scroll-snap-type: y proximity;
  }

  body {
    // min-height: 100%;
  }
}
