.minesweeper-proxy-root {
  margin: 0 auto;
  width: 75%;

  .websiteMinesweeperAdjust {
    // position: sticky;
    // overflow: hidden;
    width: 100%;
    font-family: "Courier New", Courier, monospace;
    text-rendering: geometricPrecision;
    h5 {
      font-size: 14px;
    }

    .space-containers {
      margin: 0;

      &:nth-child(1) {
        margin-top: 5%;
      }
    }
    #total-board {
      width: 45%;
      padding: 5% 0;
      flex: 0.55;
      .space-containers {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-top: 0;
        flex: 1;
        flex-direction: column;

        #login-form {
          display: flex;
          justify-content: center;
        }
      }
    }
    #leaderboard {
      width: 33.3%;
      flex: 0.25;
      margin: 5% 0;
      h3 {
        margin-top: 2.5%;
      }
      .scores-list {
        display: flex;
        justify-content: center;
        // line-height: 1.8;
      }
    }
  }

  &--Mobile {
    width: 90%;
    .websiteMinesweeperAdjust {
      .spaceContainers {
      }
      #login-form {

      }
      .space-containers {
        display: flex;
        flex-direction: column;
        #total-board,
        #leaderboard {
          width: 90%;
        }

        #total-board {
          margin: 0 auto;
        }
        #leaderboard {
          margin: 0;
          margin-bottom: 5%;
        }
      }
    }
  }
}
