.minesweeper-proxy-root {
  margin: 0 auto;
  width: 75%;
  height: 90vh;
  .header-nav {
    margin-top: .75em;
    .header-nav-ul {
      margin: 0 auto;
      width: 75%;
    }
  }

  .websiteMinesweeperAdjust {
    // These four rules put the loading indicator in the center of the page
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .loading-indicator {
      text-rendering: geometricPrecision;
      font-weight: 150;
      font-size: 3.5vmax;
    }

    #smiley-bar {
      height: 2em;
      #flags-remaining {
        text-rendering: geometricPrecision;
        font-weight: 300;
        font-size: 1.4vmax;
        padding-left: 0.5em;
      }
    }

    #milli-second-timer {
      font-size: 2.5vmax;
      text-rendering: geometricPrecision;
      border: none;
      border-top: 1px solid ivory;
      letter-spacing: .05vmax;
    }
    #skill-level-selector {
      button {
        font-size: 1vmax;
        width: 100%;
        padding: .5% 0;
        color: black;
        &:hover {
          color: ivory;
        }
      }
    }
  }

#main-space-container {
  height: 90% !important;
    #total-board {
      height: 70%;
      width: 65%;
      .sweep-square {
        font-size: 1.5vmax;
      }
    }

    #total-board.intermediate, #total-board.advanced {
      width: 100%;
      height: 100%;
    }
    .milli-second-timer-container {
      padding: 2em 0;
    }
  }
}
/*
  Mobile
*/
.minesweeper-proxy-root--Mobile {
  @media screen and (orientation: landscape) {
    width: 90%;
    #main-space-container {
      height: 99% !important;
      // #total-board {

      // }
      #total-board.beginner, #total-board.intermediate, #total-board.advanced {
        height: 90%;
        width: 100%;
      }

      .milli-second-timer-container {
        padding: 0;
        padding-top: .2em;
        #milli-second-timer {
          font-size: 1.5vw;
        }
      }
    }
  }

  @media screen and (orientation: portrait) {
    .beginner, .intermediate, .advanced {
      width: unset;
    }
    width: 100%;

    .websiteMinesweeperAdjust {
      display: flex;
      align-items: center;

      #milli-second-timer {
        font-size: 2.5vh;
      }

      #skill-level-selector {
        button {
          font-size: 1.5vh;
          padding: 1.5% 15%;
        }
      }

      #main-space-container {
        #total-board {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
